
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <script language="javascript" src="javascripts/jquery-1.11.2.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="images/20150412231030/favicon22c41b.ico">
    <title>【党员风采】心怀民众的好书记</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/20150412231030/page_mp_article_improve24f185.css">
    <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="stylesheets/20150412231030/page_mp_article_improve_pc24ed02.css">
    <![endif]-->
  </head>
  <body article_id="<%= @article_id %>">
    <div id="js_article" class="rich_media">
      <div class="rich_media_inner">
        <div id="page-content">
          <div id="img-content" class="rich_media_area_primary">
            <h2 class="rich_media_title" id="activity-name">【党员风采】心怀民众的好书记</h2>
            <div class="rich_media_meta_list">
              <em id="post-date" class="rich_media_meta rich_media_meta_text">2015-04-08</em>
              <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">三州党员教育</a>
              <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">三州党员教育</span>
            </div>
            <div class="rich_media_content" id="js_content">
              <section data-="data-" class="135editor">
                <fieldset style="border: 0px; box-sizing: border-box; width: 100%; clear: both; overflow: hidden; padding: 0px;">
                  <section style="box-sizing: border-box; width: 50%; float: left; padding: 0px 0.1em 0px 0px;">
                    <img src='images/20150412231030/1.pic.jpg' style="box-sizing: border-box; visibility: visible !important; width: 100% !important;" width="" height="" border="0" vspace="0" title="" data-ratio="1.3187250996015936" data-w="251"  />
                  </section>
                  <section class="135brush" data-style="margin-right: 0.5px; font-size: 1.2em; font-weight: bold;color: rgb(52, 54, 60); " style="display: inline-block; width: 50%; box-sizing: border-box; float: left; padding: 0px 0px 0px 1.0em;">
                    <p style="margin-right: 0.5px; font-size: 1.2em; font-weight: bold;color: rgb(52, 54, 60); "><span style="font-family: 楷体, 楷体_GB2312, SimKai; font-size: 16px; line-height: 1.6em;"></span></p>
                    <p style="margin-top: 0px; margin-right: 0.5px; margin-bottom: 0px; padding: 0px; max-width: 100%; font-family: 微软雅黑; font-size: 1.2em; min-height: 1em; line-height: normal; white-space: normal; background-color: rgb(255, 255, 255); font-weight: bold; color: rgb(52, 54, 60); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 10px; line-height: 1.6em; box-sizing: border-box !important; word-wrap: break-word !important;">如果<br style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"  /></span></p>
                    <p style="margin-top: 0px; margin-right: 0.5px; margin-bottom: 0px; padding: 0px; max-width: 100%; font-family: 微软雅黑; font-size: 1.2em; min-height: 1em; line-height: normal; white-space: normal; background-color: rgb(255, 255, 255); font-weight: bold; color: rgb(52, 54, 60); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 10px; box-sizing: border-box !important; word-wrap: break-word !important;">一个村庄就是一个家</span></p>
                    <p style="margin-top: 0px; margin-right: 0.5px; margin-bottom: 0px; padding: 0px; max-width: 100%; font-family: 微软雅黑; font-size: 1.2em; min-height: 1em; line-height: normal; white-space: normal; background-color: rgb(255, 255, 255); font-weight: bold; color: rgb(52, 54, 60); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 10px; box-sizing: border-box !important; word-wrap: break-word !important;">那么</span></p>
                    <p style="margin-top: 0px; margin-right: 0.5px; margin-bottom: 0px; padding: 0px; max-width: 100%; font-family: 微软雅黑; font-size: 1.2em; min-height: 1em; line-height: normal; white-space: normal; background-color: rgb(255, 255, 255); font-weight: bold; color: rgb(52, 54, 60); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 10px; box-sizing: border-box !important; word-wrap: break-word !important;">作为大家长的村干部</span></p>
                    <p style="margin-top: 0px; margin-right: 0.5px; margin-bottom: 0px; padding: 0px; max-width: 100%; font-family: 微软雅黑; font-size: 1.2em; min-height: 1em; line-height: normal; white-space: normal; background-color: rgb(255, 255, 255); font-weight: bold; color: rgb(52, 54, 60); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 10px; box-sizing: border-box !important; word-wrap: break-word !important;">只有心怀民众、踏实干事</span></p>
                    <p style="margin-top: 0px; margin-right: 0.5px; margin-bottom: 0px; padding: 0px; max-width: 100%; font-family: 微软雅黑; font-size: 1.2em; min-height: 1em; line-height: normal; white-space: normal; background-color: rgb(255, 255, 255); font-weight: bold; color: rgb(52, 54, 60); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 10px; box-sizing: border-box !important; word-wrap: break-word !important;">才能把家操持好</span></p>
                    <p style="margin-top: 0px; margin-right: 2px; margin-bottom: 0px; padding: 0px; max-width: 100%; font-family: 微软雅黑; font-size: 17.14285659790039px; min-height: 1em; line-height: normal; white-space: normal; background-color: rgb(255, 255, 255); font-weight: bold; color: rgb(52, 54, 60); text-align: right; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 10px; box-sizing: border-box !important; word-wrap: break-word !important;">——梁日明</span></p>
                    <p style="margin-right: 0.5px; font-size: 1.2em; font-weight: bold;color: rgb(52, 54, 60); "><span style="font-family: 楷体, 楷体_GB2312, SimKai;"></span><br  /></p>
                  </section>
                </fieldset>
              </section>
              <section data-="data-" class="135editor">
                <fieldset style="border: 0px; margin: 5px 0px; box-sizing: border-box; padding: 0px;">
                  <section style="height: 1em; box-sizing: border-box;">
                    <section style="height: 100%; width: 1.5em; float: left; border-top-width: 0.4em; border-top-style: solid; border-color: rgb(249, 110, 87); border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section>
                    <section style="height: 100%; width: 1.5em; float: right; border-top-width: 0.4em; border-top-style: solid; border-color: rgb(249, 110, 87); border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section>
                    <section style="display: inline-block; color: transparent; clear: both; box-sizing: border-box;"></section>
                  </section>
                  <section style="margin: -0.8em 0.1em -0.8em 0.2em; padding: 0.8em; border: 1px solid rgb(249, 110, 87); border-radius: 0.3em; box-sizing: border-box;"><p><span style="line-height: 27.410715103149414px; font-size: 14px;">      梁日明，1944年出生，三州乡车门湾人，</span><span style="line-height: 27.410715103149414px; font-size: 14px;">台州市优秀共产党员。2010年度天台县新农村建设带头人“金牛奖”获得者，并先后</span><span style="font-size: 14px;">多次被评为天台县优秀党员。</span></p></section>
                  <section style="height: 1em; box-sizing: border-box;"><section style="height: 100%; width: 1.5em; float: left; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: rgb(249, 110, 87); border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section>
                  <section style="height: 100%; width: 1.5em; float: right; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: rgb(249, 110, 87); border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section></section></fieldset>                  </section>
              <section data-="data-" class="135editor">
                <fieldset style="border: 0px; box-sizing: border-box; width: 100%; clear: both; overflow: hidden; padding: 0px; text-align: center;">
                  <section style="box-sizing: border-box; width: 50%; float: left; padding: 0px; color: inherit;"><img src="images/20150412231030/17.pic.jpg" style="float: left; width: 100%;" vspace="0" width="" height="" border="0" title="" data-ratio="0.6956521739130435" data-w="253"  /><br  /></section>
                  <section style="box-sizing: border-box; width: 50%; float: right;padding: 0px; color: inherit;"><img src="images/20150412231030/18.pic.jpg" style="float: left; width: 100%; z-index: -1;" vspace="0" width="" height="" border="0" title="" data-ratio="0.6877470355731226" data-w="253"  /></section>
                </fieldset>
              </section>
              <section data-="data-" class="135editor">
                <fieldset style="border: 0px; margin: 0px -1px; box-sizing: border-box; width: 100%; clear: both; padding: 0px;">
                  <section style="margin : 8px 5px; width: 98%;box-sizing: border-box;text-align:center;"><img src="images/20150412231030/2.pic.jpg" style="box-sizing: border-box; float: left; padding: 2px; width: 33%;" width="" height="" border="0" vspace="0" title="" data-ratio="0.6625" data-w="160"  /><img src="images/20150412231030/3.pic.jpg" style="box-sizing: border-box; padding: 2px; width: 33%;" width="" height="" border="0" vspace="0" title="" data-ratio="0.65625" data-w="160"  /><img src="images/20150412231030/4.pic.jpg" style="box-sizing: border-box; float: right; padding: 2px; width: 33%;" width="" height="" border="0" vspace="0" title="" data-ratio="0.65" data-w="160"  /></section>
                </fieldset>
              </section>
              <section data-="data-" class="135editor">
                <fieldset style="border: 0px; margin: 5px 0px; box-sizing: border-box; padding: 0px;">
                  <section style="height: 1em; box-sizing: border-box;">
                    <section style="height: 100%; width: 1.5em; float: left; border-top-width: 0.4em; border-top-style: solid; border-color: rgb(249, 110, 87); border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section>
                    <section style="height: 100%; width: 1.5em; float: right; border-top-width: 0.4em; border-top-style: solid; border-color: rgb(249, 110, 87); border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section>
                    <section style="display: inline-block; color: transparent; clear: both; box-sizing: border-box;"></section>
                  </section>
                  <section style="margin: -0.8em 0.1em -0.8em 0.2em; padding: 0.8em; border: 1px solid rgb(249, 110, 87); border-radius: 0.3em; box-sizing: border-box;">
                    <section placeholder="四角宽边框的样式" style="color: rgb(51, 51, 51); font-size: 1em; line-height: 1.4; word-break: break-all; word-wrap: break-word;" class="135brush"><span style="line-height: 27.410715103149414px; font-size: 14px;">      作为一位年逾七旬的老干部，他始终牢记“穿农衣、吃农饭、做农事、解农忧”十二字箴言，带领村干部班子，坚持“一年至少为村民办一件实事”。于是，那么些年下来，车门湾村厚积薄发，由原先的一穷二白，到现在人均收入近万元。“台州市先进党组织”、“全国一村一品示范村”等荣誉纷纷落户在车门湾。</span>
                    </section>
                  </section>
                  <section style="height: 1em; box-sizing: border-box;">
                    <section style="height: 100%; width: 1.5em; float: left; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: rgb(249, 110, 87); border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section>
                    <section style="height: 100%; width: 1.5em; float: right; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: rgb(249, 110, 87); border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section>
                  </section>
                </fieldset>
              </section>
              <section data-="data-" class="135editor">
                <fieldset style="margin: 0px; padding: 5px; border: 1px solid rgb(204, 204, 204); max-width: 100%; color: rgb(62, 62, 62); line-height: 24px; text-align: justify; box-shadow: rgb(165, 165, 165) 5px 5px 2px; background-color: rgb(250, 250, 250);"><legend style="margin: 0px; padding: 0px;  text-align: left;margin-left: 20px;width: auto;"><strong><strong style="background-color:rgb(255, 255, 245); color:rgb(102, 102, 102); line-height:20px"><span class="135brush" data-brushtype="text" style="background-color:red; border-bottom-left-radius:3em 1em; border-bottom-right-radius:0.5em 2em; border-top-left-radius:0.5em 4em; border-top-right-radius:3em 1em; box-shadow:rgb(165, 165, 165) 4px 4px 2px; color:white; max-width:100%; padding:4px 10px; text-align:justify">用心做事</span></strong></strong>    </legend><p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1.5em; line-height: 2em;">把村里的事当成自己家里的事。他是这样讲的，也是这样做的。几十年来始终坚持发展是第一要务，充分发挥山区资源优势、传统优势和区域优势，与村两委班子一起确立发展以茶叶为主导产业同时发展高山西瓜、猕猴桃等农业特色产业的发展思路。<span style="font-size: 14px; line-height: 1.6em;">2004年发动党员干部带头干，以组织全村43户农户在后门山联户开发225亩茶叶示范园区为突破口，大力发展茶叶种植面积，至今全村拥有茶叶1000余亩，人均达26亩。为方便村民炒茶、卖茶，2006年在村里资金十分紧缺的情况下，带着村两委班子成员跑部门筹资金、搞设计订合同，建成了占地面积717平方米村茶叶集中加工厂。又于2008年规范了越峰茶叶合作社，使全村茶叶种植大户111人都成为合作社社员。2012年完成生态村建设污水处理项目，并获得科技茶叶示范园区有机茶认证。2013年茶叶园区安装了杀虫灯，达成生态环保的目标。近几年，在老梁书记的带领下还筹建起三州乡人自己的茶叶市场，实现了茶叶种植、加工、销售一条龙。</span></p>
                </fieldset>
              </section>
              <section data-="data-" class="135editor">
                <fieldset style="border: 0px; margin: 0px; box-sizing: border-box; width: 100%; clear: both; padding: 0px;">
                  <section style="box-sizing: border-box;"><img src="images/20150412231030/8.pic.jpg" style="box-sizing: border-box; width: 100%;" title="" vspace="0" width="" height="" border="0" data-ratio="0.6245059288537549" data-w=""  />
                    <section style="margin-top: 0.5em; width: 100%;  box-sizing: border-box;"><img src="images/20150412231030/9.pic.jpg" style="box-sizing: border-box; float: left; width: 49%;" title="" vspace="0" width="" height="" border="0" data-ratio="0.6854838709677419" data-w="248"  /><img src="images/20150412231030/10.pic.jpg" style="box-sizing: border-box; float: right; width: 49%;" title="" vspace="0" width="" height="" border="0" data-ratio="0.6693548387096774" data-w="248"  /></section>
                  </section>
                </fieldset>
              </section>
              <section data-="data-" class="135editor">
                <fieldset style="margin: 0px; padding: 5px; border: 1px solid rgb(204, 204, 204); max-width: 100%; color: rgb(62, 62, 62); line-height: 24px; text-align: justify; box-shadow: rgb(165, 165, 165) 5px 5px 2px; background-color: rgb(250, 250, 250);"><legend style="margin: 0px; padding: 0px;  text-align: left;margin-left: 20px;width: auto;"><strong><strong style="background-color:rgb(255, 255, 245); color:rgb(102, 102, 102); line-height:20px"><span class="135brush" data-brushtype="text" style="background-color:red; border-bottom-left-radius:3em 1em; border-bottom-right-radius:0.5em 2em; border-top-left-radius:0.5em 4em; border-top-right-radius:3em 1em; box-shadow:rgb(165, 165, 165) 4px 4px 2px; color:white; max-width:100%; padding:4px 10px; text-align:justify">民主理事</span></strong></strong>    </legend><section class="135brush" data-style="margin-top: 2px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1.5em; line-height: 2em;font-weight:bold;"><p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1.5em; line-height: 2em;">梁书记说：“发扬民主，让群众一起来参与，调动广大群众的积极性，这是我们做好工作的有效途径和方法。”一直以来，村里的重大事项都召开村民大会或村民代表会议进行讨论研究。1991年车门湾被评为“农村承包合同管理规范村”自2006年推行“五步法”以来，在2008年被评为“县五步法示范村”。如2011年村里建造凉亭，就严格按照五步法程序多次召开会议研究讨论，广泛征求意见，调动起广大群众的积极性，在集体资金紧张的情况下，纷纷表示自愿出资筹集。在短短半个月时间123名村民赞助达8.6万元，从而顺利的在村口建造起美观又大方的“昌门亭”。</p></section>
                </fieldset>
              </section>
              <section data-="data-" class="135editor">
                <fieldset style="border: 0px rgb(60, 40, 34); padding: 0px; width: 100%; clear: both; overflow: hidden; box-sizing: border-box;"><img border="0" src="images/20150412231030/11.pic.jpg" style="box-sizing: border-box; color: inherit; width: 100%;" title="" vspace="0" width="" height="" data-ratio="0.6225296442687747" data-w=""  /><section style="box-sizing: border-box; width: 50%; float: left; border: 0px rgb(60, 40, 34); padding: 0.5em; color: inherit;"><section style="box-sizing: border-box; color: inherit;"><span class="135title" style="background-color:rgb(60, 40, 34); border-color:rgb(60, 40, 34); box-sizing:border-box; color:rgb(197, 163, 152); display:inline-block; float:left; font-size:1em; font-weight:inherit; height:1.2em; line-height:1.2; margin:3px 7px 0px 0px; padding:0px 0.1em; text-align:center; text-decoration:inherit; text-shadow:0px 1px; vertical-align:bottom; width:1.2em">↑ </span></section><section style="box-sizing: border-box; color: inherit;"><span style="line-height: 23.99553680419922px;">会议讨论现场</span></section></section><img border="0" src="images/20150412231030/12.pic.jpg" style="box-sizing: border-box; color: inherit; float: right; width: 50%;" width="" height="" vspace="0" title="" data-ratio="0.6561264822134387" data-w="253"  /><section style="box-sizing: border-box; width: 50%; float: left; border: 0px rgb(60, 40, 34); padding: 0.5em; color: inherit;"><section style="box-sizing: border-box; color: inherit;"><span class="135title" style="background-color:rgb(60, 40, 34); border-color:rgb(60, 40, 34); box-sizing:border-box; color:rgb(197, 163, 152); display:inline-block; float:left; font-size:1em; font-weight:inherit; height:1.2em; line-height:1.2; margin:3px 7px 0px 0px; padding:0px 0.1em; text-align:center; text-decoration:inherit; text-shadow:0px 1px; vertical-align:bottom; width:1.2em">→ </span></section><section style="box-sizing: border-box; color: inherit;"><span style="line-height: 23.99553680419922px;">“五步法”示范村</span></section></section>
                </fieldset>
              </section>
            <section data-="data-" class="135editor">
              <fieldset style="margin: 0px; padding: 5px; border: 1px solid rgb(204, 204, 204); max-width: 100%; color: rgb(62, 62, 62); line-height: 24px; text-align: justify; box-shadow: rgb(165, 165, 165) 5px 5px 2px; background-color: rgb(250, 250, 250);"><legend style="margin: 0px; padding: 0px;  text-align: left;margin-left: 20px;width: auto;"><strong><strong style="background-color:rgb(255, 255, 245); color:rgb(102, 102, 102); line-height:20px"><span class="135brush" data-brushtype="text" style="background-color:red; border-bottom-left-radius:3em 1em; border-bottom-right-radius:0.5em 2em; border-top-left-radius:0.5em 4em; border-top-right-radius:3em 1em; box-shadow:rgb(165, 165, 165) 4px 4px 2px; color:white; max-width:100%; padding:4px 10px; text-align:justify">公道做事</span></strong></strong>    </legend><section class="135brush" data-style="margin-top: 2px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1.5em; line-height: 2em;font-weight:bold;"><p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1.5em; line-height: 2em;">廉洁从政，干净做人。老梁认为，作为一名村党支部书记，要自觉维护党在人民群众中的形象，要教育家眷亲戚朋友，更要严格要求自己，不该说的话不说，不该做的事不做。对一些敏感问题特别是财务问题，坚持按三资公开制度办。几十年来，他坚持每季度一次集体资金支付审核，逐笔公开、逐项公示，做到账册票据齐全、公正透明。村里项目承包按照按照“五步法”流程，且该村一般采用包工不包料的形式，2010年茶叶集中加工厂QS标准认证前改造需要到宁波采购瓷砖，梁书记叫上村监会主任同行，为集体节省材料费1.5万余元，他始终坚持做到这样——清清白白做事、堂堂正正做人。<br  /></p></section>
              </fieldset>
            </section>
            <section data-="data-" class="135editor">
              <fieldset style="border: 0px rgb(60, 40, 34); padding: 0px; width: 100%; clear: both; overflow: hidden; box-sizing: border-box;"><img border="0" src="images/20150412231030/13.pic.jpg" style="box-sizing: border-box; color: inherit; width: 100%;" title="" vspace="0" width="" height="" data-ratio="1" data-w=""  /><section style="box-sizing: border-box; width: 50%; float: left; border: 0px rgb(60, 40, 34); padding: 0.5em; color: inherit;"><section style="box-sizing: border-box; color: inherit;"><span class="135title" style="background-color:rgb(60, 40, 34); border-color:rgb(60, 40, 34); box-sizing:border-box; color:rgb(197, 163, 152); display:inline-block; float:left; font-size:1em; font-weight:inherit; height:1.2em; line-height:1.2; margin:3px 7px 0px 0px; padding:0px 0.1em; text-align:center; text-decoration:inherit; text-shadow:0px 1px; vertical-align:bottom; width:1.2em">↑ </span></section><section style="box-sizing: border-box; color: inherit;"><span class="135brush" data-brushtype="text" style="box-sizing:border-box; color:inherit; font-size:0.9em; font-weight:inherit; line-height:1.4em; text-align:inherit; text-decoration:inherit">“五步法”会议流程</span></section></section><img border="0" src="images/20150412231030/14.pic.jpg" style="box-sizing: border-box; color: inherit; float: right; width: 50%;" width="" height="" vspace="0" title="" data-ratio="0.6758893280632411" data-w="253"  /><section style="box-sizing: border-box; width: 50%; float: left; border: 0px rgb(60, 40, 34); padding: 0.5em; color: inherit;"><section style="box-sizing: border-box; color: inherit;"><span class="135title" style="background-color:rgb(60, 40, 34); border-color:rgb(60, 40, 34); box-sizing:border-box; color:rgb(197, 163, 152); display:inline-block; float:left; font-size:1em; font-weight:inherit; height:1.2em; line-height:1.2; margin:3px 7px 0px 0px; padding:0px 0.1em; text-align:center; text-decoration:inherit; text-shadow:0px 1px; vertical-align:bottom; width:1.2em">→ </span></section><section style="box-sizing: border-box; color: inherit;"><span class="135brush" data-brushtype="text" style="box-sizing:border-box; color:inherit; font-size:0.9em; font-weight:inherit; line-height:1.4em; text-align:inherit; text-decoration:inherit">老梁书记日常工作</span></section></section>
              </fieldset>
            </section>
            <section data-="data-" class="135editor">
              <fieldset style="margin: 0px; padding: 5px; border: 1px solid rgb(204, 204, 204); max-width: 100%; color: rgb(62, 62, 62); line-height: 24px; text-align: justify; box-shadow: rgb(165, 165, 165) 5px 5px 2px; background-color: rgb(250, 250, 250);"><legend style="margin: 0px; padding: 0px;  text-align: left;margin-left: 20px;width: auto;"><strong><strong style="background-color:rgb(255, 255, 245); color:rgb(102, 102, 102); line-height:20px"><span class="135brush" data-brushtype="text" style="background-color:red; border-bottom-left-radius:3em 1em; border-bottom-right-radius:0.5em 2em; border-top-left-radius:0.5em 4em; border-top-right-radius:3em 1em; box-shadow:rgb(165, 165, 165) 4px 4px 2px; color:white; max-width:100%; padding:4px 10px; text-align:justify">团结共事</span></strong></strong>    </legend><section class="135brush" data-style="margin-top: 2px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1.5em; line-height: 2em;font-weight:bold;"><p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1.5em; line-height: 2em;">没有私心杂念，干部才会统一团结。有人讲，哪一个人当村长，老梁就同那一个人关系好。其实说的很对，老梁就是这样做的。村干部团结是做好一切事情的保障。“遇事讲大局讲原则，不做老好人，有话当面讲”这是老梁书记的本性。多座谈，多沟通，党内积极开展批评与自我批评，从而达到干部的统一团结。文化大革命后，老梁当选书记以来，车门湾村从来没有出现过存派别不团结的现象。2013年换届，因为年纪大了老梁辞去书记一职，但是广大村民的信任又选举他为村监会主任，自任职以来，他仍一丝不苟地按照村务监督委员会的工作职责，监督实施村级民主决策“五步法”、“一定二诺三跟进”村干部管理办法等，为村两委实现建设目标保驾护航。</p></section>
              </fieldset>
            </section>
            <section data-="data-" class="135editor">
              <section style="width:80%;margin: 30px auto;">
                <section class="135editor">
                  <section style="padding:10px 10px 20px 10px;border:1px solid #BFBFBF;background-color:white;box-shadow:2px 2px 3px #aaaaaa;float:left;-ms-transform:rotate(7deg);-moz-transform:rotate(7deg); -webkit-transform:rotate(7deg); -o-transform:rotate(7deg);transform:rotate(7deg);"><img border="0" src="images/20150412231030/15.pic.jpg" title="" vspace="0" width="" height="" data-ratio="0.6736292428198434" data-w="383"  /><p class="135brush">生态茶园创建</p></section><p><br  /></p>
                </section>
                <section class="135editor">
                  <section style="padding:10px 10px 20px 10px;border:1px solid #BFBFBF;background-color:white;box-shadow:2px 2px 3px #aaaaaa;float:left;-ms-transform:rotate(-8deg); -moz-transform:rotate(-8deg); -webkit-transform:rotate(-8deg); -o-transform:rotate(-8deg);transform:rotate(-8deg);"><img border="0" src="images/20150412231030/16.pic.jpg" title="" vspace="0" width="" height="" data-ratio="0.6684073107049608" data-w="383"  /><p class="135brush">丰收的喜悦</p></section><p><br  /></p>
                  </section><p><br  /></p>
                </section>
              </section><hr  /><p><br  /></p>
              <section data-="data-" class="135editor"><blockquote style="margin: 3px; padding: 10px 15px; border-top-width: 3px; border-right-width: 3px; border-bottom-width: 3px; border-color: rgb(107, 77, 64); border-top-left-radius: 50px; border-bottom-right-radius: 50px; box-shadow: rgb(165, 165, 165) 5px 5px 2px; background-color: rgb(250, 250, 250);">
                <section class="135brush" data-style="margin-top: 15px; margin-bottom: 0px; padding: 0px; color: rgb(107, 77, 64); line-height: 2em; font-size: 20px; border-color: rgb(107, 77, 64);font-size: 18px;font-weight:bold;"><p style="margin-top: 15px; margin-bottom: 0px; padding: 0px; color: rgb(107, 77, 64); line-height: 2em; font-size: 20px; border-color: rgb(107, 77, 64);"><span style="font-size:18px"><strong style="border-color:rgb(107, 77, 64); color:inherit">读而思</strong></span></p></section><p style="margin-top: -10px; margin-bottom: 0px; padding: 0px; line-height: 2em; min-height: 1.5em; color: inherit;"><span style="font-size:12px"><strong class="135brush" data-brushtype="text" style="background-color:rgb(107, 77, 64); border-bottom-left-radius:20px; border-bottom-right-radius:20px; color:rgb(224, 209, 202); font-size:13px; padding:0px 15px">duersi</strong></span></p><section class="135brush" data-style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 2em; font-size: 14px; min-height: 1.5em; color: inherit;"><p><span style="font-size:14px">      随着社会形势的发展和党员肩负任务的变化，党员的思想也是在不断变化的。“三州党员教育”旨在通过“党的思想政策传递”、“基层党建动态宣传”、“先进党员风采展示”等方式，不断提升党员思想素质。使每一个党员时时刻刻牢记党员身份，时时事事处处发挥先锋模范作用。</span></p></section></blockquote></section></div></div></div>
                <div style="text-align: center">
                  <img border="0" src="images/favour_0.jpg" data-idx='0' onclick="send_favour(this)" />
                </div>
                <div style="text-align: center; margin-top: 10px">您是第<span style="color: red; font-size: 30px" id='star_count'><%= @count %></span>位为好书记点“赞”的人</div>
                <link rel="stylesheet" type="text/css" href="stylesheets/20150412231030/page_mp_article_improve_combo24f185.css">
                <script type="text/javascript">
                  send_favour = function(obj) {
                    if($(obj).attr('src') == 'images/favour_0.jpg'){
                      $.post("/", { 'article_id': $('body').attr('article_id') }, function(data) {
                        $(obj).attr('src', 'images/favour_1.jpg');
                        $('span#star_count').text(data.count);
                        alert('感谢您成为第' + data.count + '位为好书记点赞的人');
                      });
                    }
                  }
                </script>
  </body></html>